@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

  
  #cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  #aux1{
    background-color: white;
  }

  #aux2{
    background-color: white;
  }

  #aux3{
    background-color: white;
  }

  #aux4{
    background-color: white;
  }